.wallet-bg{
    background: linear-gradient(90deg, #00a1e4 0%, #003c8f 100%) !important;
    color: #ffffff;
    padding:5px 15px !important;
    line-height: 32px !important;
    border-radius: 8px;
    margin-right: 25px;
    height:42px !important;
    margin-top: 8px;
    border: 1px solid #00a0e3;
}

.wallet-bg i{
    font-size:32px;
    color: rgb(255, 255, 255);
    margin-right:8px;
    float: left;
}


@media (max-width: 768px){
    .wallet-bg{
        display: none !important;
    }

        .pcoded-header .navbar-nav > li:last-child{
            display: none !important;
        }
}