<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<!-- Section Hero banner -->
<section class="hero-banner"  style="background-image: url({{bannerImage}}); background-size: cover;" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="hero-banner-inner-text">
                    <h1>{{masterSettingRecord?.operator_slogan}}</h1>
                    <!-- <h1>the most trusted & safest online bus booking platform</h1> -->
                </div>
            </div>

            <div class="col-md-12">
            <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
                <div class="hero-banner-inner-srchbus">
                    <div class="row no-gutters">
                       
                        <div class="col-md-10">
                            <div class="row no-gutters">
                                <div class="col-md-4 pr-1">
                                    <label><b>From</b></label>
                                    <div class="input-group mb-3 d-block">

                                        <div class="input-group-prepend">
                                            <span class="input-group-text pr-0" id="basic-addon1"><img src="assets/img/Icon-metro-location.svg"></span>
                                        
                                            <input autocomplete="off" id="typeahead-template" type="text" class="form-control"  [ngbTypeahead]="search" [resultTemplate]="rt" 
                                            [inputFormatter]="formatter" [ngModel]="swapsource" placeholder="Enter Source" formControlName="source"/>

                                            <ng-template #rt let-r="result" let-t="term">
                                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                            </ng-template>
                                        
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1 to_dest_block">
                                    <label><b>To</b></label>
                                    <div class="swap-srch cursor">
                                       <img (click)="swap();"  src="assets/img/swap.svg">
                                    </div>
                                    <div class="input-group mb-3 d-block">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text pr-0 pl-4" id="basic-addon2"><img
                                                    src="assets/img/Icon-metro-location.svg"></span>

                                                    <input autocomplete="off" id="typeahead-template2" type="text" class="form-control"  [ngbTypeahead]="search" 
                                                    [resultTemplate]="rt2" [inputFormatter]="formatter" [ngModel]="swapdestination" formControlName="destination" placeholder="Enter Destination"
                                                    />
                                                  
                                                        <ng-template #rt2 let-r="result" let-t="term">
                                                            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                                        </ng-template>
                                                    
                                                    
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="col-md-4 date_inp">
                                    <label><b>Date of Journey</b></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text calendar pr-0" id="basic-addon3" (click)="d.toggle()" ><img src="assets/img/Icon-metro-calendar.svg"></span>
                                        </div>
                                        <input type="text" autocomplete="off" readonly class="form-control calendar rounded-0" formControlName="entry_date"  
                                        placeholder="Journey Date" aria-label="Journey Date" 
                                        aria-describedby="basic-addon3" ngbDatepicker (click)="d.toggle()" #d="ngbDatepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p style="opacity: 0;">Search</p>
                            <div class="bus_search">
                                <button type="submit"  class="btn">Search</button>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>

<!-- Offer Section -->

<section class="section-offer carousel-home fluid-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="section-offer-left">
                    <h2>ODBUS OFFER</h2>
                </div>
            </div>
            <div class="col-md-6">

                <ul class="nav nav-tabs " id="myTab" role="tablist">
                    <li class="nav-item cursor" role="presentation" (click)="getOffer('Bus Offers')">
                        <a class="nav-link {{ (activeTab=='Bus Offers') ? 'active' : '' }} " id="home-tab" data-toggle="tab"  role="tab"
                            aria-controls="home" aria-selected="true">Bus Offers</a>
                    </li>
                    <li class="nav-item cursor" role="presentation" (click)="getOffer('Festive Offers')">
                        <a class="nav-link {{ (activeTab=='Festive Offers') ? 'active' : '' }}" id="profile-tab" data-toggle="tab" role="tab"
                            aria-controls="profile" aria-selected="false">Festive Offers</a>
                    </li>
                    <li class="nav-item cursor" role="presentation">
                        <a class="nav-link" id="messages-tab" data-toggle="tab" routerLink="offers" role="tab"
                            aria-controls="messages" aria-selected="false">View All</a>
                    </li>
                </ul>

                <!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>Bus Offers</a>
                      <ng-template ngbNavContent *ngIf="busOffers">
                            <img  *ngFor="let f of busOffers;" [attr.src]="getImagePath(f.slider_img)">                         
                      </ng-template>
                    </li>

                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Festive Offers</a>
                        <ng-template ngbNavContent *ngIf="festiveOffers">                            
                                 
                          <img *ngFor="let fe of festiveOffers;" [attr.src]="getImagePath(fe.slider_img)">                               
                                 
                        </ng-template>
                      </li>

                      <li [ngbNavItem]="3">
                        <a  ngbNavLink routerLink="offers">View All</a>                       
                      </li>

                    </ul> -->
            </div>

            <div class="col-md-12 section-offer-right-tab mt-4">

                <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->

                <carousel [cellsToShow]="3">
                    <div  class="carousel-cell" *ngFor="let f of offerList;">
                       
                        <a *ngIf="url_path!=''" href="{{f.url}}" target="_blank"> <img *ngIf="f.slider_photo!='' && f.slider_photo!=null" 
                            src="{{url_path.sliderphoto_url}}{{ f.slider_photo }}" /> 
                            </a>   
                    </div>
                </carousel>            
            </div>
        </div>
    </div>
</section>

<!-- Section About -->

<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-about-left">
                    <h3>About Us</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-about-right">
                    <p>{{masterSettingRecord?.operator_home_content}}</p>
                    <a routerLink="about-us" class="mt-5 cursor">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Growing section -->

<section class="section-growing fluid-15">
    <div class="container-fluid">
        <h4>The Numbers are Growing</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="section-growing-box">
                    <img src="assets/img/routs.svg">
                    <h3>1500</h3>
                    <p>Routes</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-growing-box">
                    <img src="assets/img/buses.svg">
                    <h3>10000</h3>
                    <p>Buses</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-growing-box">
                    <img src="assets/img/sat-cust.svg">
                    <h3>300,000+</h3>
                    <p>Satisfied Customers</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-growing-box">
                    <img src="assets/img/support.svg">
                    <h3>24/7</h3>
                    <p>Customer service</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section blank -->
<section class="why-us fluid-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title-section">why ride with odbus?</h3>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="why-us-box">
                    <div class="why-img"><img src="assets/img/open-24-hours.svg" style="width:79px;">
                    </div>    
                    <h3>services</h3>
                    <p>We offer the best in class facilities and services for a happy journey</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-us-box">
                    <div class="why-img"><img src="assets/img/surface1.svg" style="width:62px;">
                    </div>    
                    <h3>secure</h3>
                    <p>High standard safety measures and customer friendly staffs</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-us-box">
                    <div class="why-img"><img src="assets/img/pocket-friendly.svg" style="width:72px;">
                    </div>    
                    <h3>pocket friendly</h3>
                    <p>Affordable rates to suit every pocket</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-us-box">
                    <div class="why-img"><img src="assets/img/gift-box.svg" style="width:63px;">
                    </div>    
                    <h3>exciting offers</h3>
                    <p>We offer unmatched discounts to make your journey more economical</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app fluid-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="app-left">
                    <h3 class="title-section">Drive yourself <br />through the mobile</h3>
                    <img src="assets/img/app-down.png">
                </div>
            </div>
            <div class="col-md-5">
                <div class="app-right">
                    <img src="assets/img/app-bg.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Get SMS with link to download ODBUS App</p>
            </div>
            <div class="col-md-6 pr-0">
                <input type="text" name="" placeholder="Enter your mobile number" />
            </div>
            <div class="col-md-2 pl-0">
                <button class="btn">Get Link</button>
            </div>
        </div>
    </div>
</section>

<section class="top-routs fluid-15" *ngIf="popular_routes!=''" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title-section">Poupular Routes</h3>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink="routes" class="link-to-page">All Routes</a>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <input type="hidden" [(ngModel)]="dtconfig.minDate" name="todayDate" id="todayDate" ngbDatepicker (click)="d.toggle()" #d="ngbDatepicker">

        <ul>
            <li *ngFor="let p of popular_routes;">
               
                <a class="cursor" style="text-decoration: none;" (click)="popularSearch(p.sourceName,p.destinationName);">
                    <img class="popl-routs-icon1" src="assets/img/Icon-metro-location.svg">
                    <span>{{ p.sourceName }}</span>

                    <img class="popl-routs-icon2" src="assets/img/left-right.png">

                    <span>{{ p.destinationName }}</span>

                
                </a>
            </li>  

          
            
        </ul>
    </div>
</section>

<section class="top-operators fluid-15" *ngIf="topOperators!=''" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title-section">Top Operators</h3>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink="operators" class="link-to-page">All Operators</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul>
            <li *ngFor="let t of topOperators;"><a href="javascript:void(0);" (click)="operator_detail(t.operator_url);" > <img src="assets/img/icon-bus-alt.svg">{{ t.operatorName}}</a></li>
           
        </ul>
    </div>
</section>

