.ng-autocomplete {
    width:100%;
    z-index: 9;
  }
 
  

.jrny_dt{
  background-color: #fff !important;
  width:240px !important;
}

label{
  color: #fff;
}

.autocomplete-container .not-found div {
  color: #000 !important;
}

.suggestions-container ul li a:hover {
  color: #000 !important;
}

.cursor{
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
}

ul.nav-tabs.nav {
  position: absolute !important;
  right: 15px !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}

.nav-tabs .nav-link {
  border: 0px !important;
  color: #072c6b !important;
  font-size: 14px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom:3px solid #f0c004 !important;
}

.input-group-prepend {
  /*margin-right: 3px !important;*/
}

.hero-banner-inner-srchbus .form-control {
    border-radius:0 0.25rem 0.25rem 0;
}

.hero-banner-inner-srchbus .form-control[readonly]{background-color:#fff;}
.fluid-15 .container-fluid {max-width:1500px;}
section.section-offer .nav-tabs .nav-item{margin:0 1rem -1px}
section.section-offer .nav-tabs .nav-item .nav-link{padding:.1rem 0rem}
.carousel-home .carousel-arrows .carousel-arrow{top:0;right:0px;margin-top:-70px;}
.carousel-home .carousel-arrows .carousel-arrow-next{left:auto;right:60px;}
.carousel-home .nav-tabs li a{font-size:18px !important;font-weight:600;text-transform: uppercase;}
.hero-banner .form-control{font-size:18px;font-weight:600}
.hero-banner-inner-srchbus label {margin-bottom:0.3rem;font-size:18px;}
