// ::ng-deep .tooltip-inner {
//   max-width: max-content;
// }


// ::ng-deep .sml_input {
//   height: calc(1.5em + 1rem);
//   padding: 0px 10px;
// }



// ::ng-deep .custom-day {
//   text-align: center;
//   padding: 0.185rem 0.25rem;
//   display: inline-block;
//   height: 2rem;
//   width: 2rem;
// }

// ::ng-deep .custom-day.focused {
//   background-color: #e6e6e6;
// }

// ::ng-deep .custom-day.range,
// .custom-day:hover {
//   background-color: rgb(2, 117, 216);
//   color: white;
// }

// ::ng-deep .custom-day.faded {
//   background-color: rgba(2, 117, 216, 0.5);
// }

// ::ng-deep button.calendar,
// button.calendar:active {
//   width: 2.75rem;
//   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
//   background-repeat: no-repeat;
//   background-size: 23px;
//   background-position: center;
// }

// ::ng-deep .table-responsive {
//   min-height: 400px;
// }

// ::ng-deep .ngb-dp-day.hidden {
//   display: block !important;
// }

// @media print {
//   ::ng-deep .hide_print {
//     display: none !important;
//   }
// }


// .form-item {
//   margin-bottom: 10px;
// }


// .action-buttons {
//   display: flex;
//   gap: 10px;
//   flex-wrap: wrap;
// }


// .page-selector {
//   display: flex;
//   justify-content: flex-end;
// }

// .page-selector select {
//   width: 120px;
//   float: right;
// }



// .table-responsive-mobile {
//   overflow-x: auto;
//   width: 100%;
// }

// .table-responsive-mobile table {
//   min-width: 1100px;
// }


// .table td,
// .table th {
//   white-space: nowrap;
// }


// @media (max-width:768px) {

//   .responsive-form .col-sm-6 {
//     width: 50%;
//     float: left;
//   }

//   .responsive-form .col-sm-12 {
//     width: 100%;
//   }

//   .action-buttons {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 10px;
//     margin-bottom: 10px;
//   }

//   .action-buttons button {
//     width: 100%;
//   }

//   .page-selector {
//     width: 120px;
//     margin-left: auto;
//   }

//   .page-selector select {
//     width: 120px;
//   }

//   .pagination {
//     flex-wrap: wrap;
//     justify-content: center;
//   }

//   .pagination li {
//     margin: 3px;
//   }

// }


// @media (min-width:769px) {

//   .page-selector {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//   }

//   .page-selector select {
//     width: 100px;
//     min-width: 100px;
//   }

// }


// .pagination{
// display:flex;
// flex-wrap:wrap;
// justify-content:center;
// align-items:center;
// gap:6px;
// margin-top:15px;
// }

// .pagination .page-item{
// list-style:none;
// }

// .pagination .page-link{
// display:flex;
// align-items:center;
// justify-content:center;
// min-width:36px;
// height:36px;
// padding:0 12px;
// border-radius:8px;
// border:1px solid #e0e0e0;
// background:#ffffff;
// color:#333;
// font-weight:500;
// font-size:14px;
// transition:all .2s ease;
// cursor:pointer;
// }



// .pagination .page-link:hover{
// background:#0d6efd;
// color:#fff;
// border-color:#0d6efd;
// }



// .pagination .active{
// background:#0d6efd !important;
// color:#fff !important;
// border-color:#0d6efd !important;
// }



// .pagination .disabled .page-link{
// opacity:0.5;
// cursor:not-allowed;
// }



// @media (max-width:768px){

// .pagination{
// gap:4px;
// }

// .pagination .page-link{
// min-width:32px;
// height:32px;
// font-size:13px;
// padding:0 8px;
// }

// }

/* ==========================
PAGE
========================== */

.report-page {
  padding: 24px;
  background: #f6f8fc;
}

/* ==========================
HEADER
========================== */

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.page-title {
  font-size: 26px;
  font-weight: 700;
  color: #13294b;
  margin-bottom: 5px;
}


.header-actions {
  display: flex;
  gap: 14px;
}

.btn-export {
  background: #198754;
  color: #fff;
  border: none;
  height: 44px;
  padding: 0 24px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.btn-print {
  background: #2f3640;
  color: #fff;
  border: none;
  height: 44px;
  padding: 0 24px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.btn-export:hover,
.btn-print:hover {
  transform: translateY(-2px);
  transition: .25s;
}

/* ==========================
SUMMARY CARDS
========================== */

.summary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-bottom: 10px;
}

.summary-card {
  background: #fff;
  padding: 26px;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #dbe8ff;
  transition: .25s;
}

.summary-card p {
  margin: 0;
  color: #7a8797;
  font-size: 14px;
}

.summary-card h2 {
  margin-top: 12px;
  font-size: 30px;
  font-weight: 700;
  color: #243b53;
}

.summary-card:hover {
  transform: translateY(-3px);
  transition: .25s;
}

/* ==========================
FILTER CARD
========================== */

.filter-card {
  background: #fff;
  padding: 10px 24px;
  border-radius: 18px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #dbe8ff;
}

.filter-grid {
  display: grid;
  grid-template-columns:
    1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.modern-input {
  width: 100%;
  height: 48px;
  border: 1px solid #dde5ef;
  border-radius: 12px;
  padding: 0 15px;
  background: #fff;
  // margin-bottom: 18px;
}

.filter-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.filter-buttons {
  display: flex;
  gap: 15px;
}

.btn-search {
  background: #16a34a;
  border: none;
  height: 44px;
  padding: 0 22px;
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
}

.btn-refresh {
  background: #ef4444;
  border: none;
  height: 44px;
  padding: 0 22px;
  font-weight: 600;
  border-radius: 10px;
  color: #fff;
}

.rows-dropdown {
  width: 130px;
}

.btn-search:hover,
.btn-refresh:hover {
  transform: translateY(-2px);
  transition: .25s;
}

/* ==========================
TABLE CARD
========================== */

.table-card {
  background: #fff;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid #d9e6fb;
  box-shadow: 0 2px 18px rgba(0, 0, 0, .05);
}

.table-responsive-modern {
  overflow-x: auto;
}

.modern-table {
  width: 100%;
  border-collapse: collapse;
}

.modern-table thead {
  background: #eef3fb;
}

.modern-table th {
  padding: 10px;
  text-align: left;
  font-weight: 700;
  color: #13294b;
  white-space: nowrap;
}

.modern-table td {
  padding: 10px;
  border-bottom: 1px solid #edf1f7;
  vertical-align: middle;
}

.modern-table tbody tr:hover {
  background: #f8fbff;
}

.modern-table small {
  color: #64748b;
  font-size: 12px;
}

/* ==========================
REFUND
========================== */

.refund-text {
  color: #16a34a;
  font-weight: 700;
}

/* ==========================
TABLE FOOTER
========================== */

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-top: 20px;
}

.entry-count {
  color: #64748b;
  font-size: 15px;
}

/* ==========================
PAGINATION
========================== */

.modern-pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modern-pagination li button {
  min-width: 44px;
  height: 42px;
  border: 1px solid #dbe4f0;
  background: #fff;
  border-radius: 14px;
  color: #2563eb;
  font-weight: 600;
  padding: 0 16px;
}

.modern-pagination li button:hover {
  background: #f3f7ff;
}

.modern-pagination li.active button {
  background: #072a6c;
  color: #fff;
  border: none;
}

.modern-pagination li.disabled {
  opacity: .5;
  pointer-events: none;
}

/* ==========================
NG SELECT
========================== */

::ng-deep .ng-select .ng-select-container {
  height: 48px !important;
  border-radius: 12px !important;
  border: 1px solid #dde5ef !important;
}



/* ==========================
DESKTOP ONLY
========================== */

@media(min-width:1200px) {

  .table-card {
    overflow: hidden;
  }

}

/* ==========================
MOBILE
========================== */

@media(max-width:991px) {

  .summary-grid {
    grid-template-columns: 1fr 1fr;
  }

  .filter-grid {
    grid-template-columns: 1fr 1fr;
  }

}



@media(max-width:768px) {

  ::ng-deep .ng-select .ng-select-container {
    height: 48px !important;
    border-radius: 12px !important;
    border: 1px solid #dde5ef !important;
    margin-bottom: 18px;
  }

  .mobile-report-page {
    padding: 15px;
    background: #f5f7fb;
    min-height: 100vh;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .mobile-header h2 {
    font-size: 18px;
    font-weight: 700;
    color: #13326b;
    margin: 0;
  }

  .filter-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 16px;
    background: #123d82;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(18, 61, 130, .25);
  }

  .filter-card {
    background: #fff;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #dfe7f3;
  }

  .mobile-input {
    width: 100%;
    height: 50px;
    border: 1px solid #dbe3ef;
    border-radius: 14px;
    margin-bottom: 14px;
    padding: 0 15px;
  }

  // .filter-actions {
  //   display: flex;
  //   gap: 10px;
  //   margin: 14px 0;
  // }

  // .btn-refresh {
  //   flex: 1;
  //   height: 48px;
  //   border: none;
  //   border-radius: 14px;
  //   background: #ff3b4d;
  //   color: #fff;
  //   font-weight: 600;
  // }

  .btn-export {
    flex: 1;
    height: 48px;
    border: none;
    border-radius: 14px;
    background: #ffc107;
    color: #000;
    font-weight: 600;
  }

  // .btn-search {
  //   width: 100%;
  //   height: 50px;
  //   border: none;
  //   border-radius: 14px;
  //   background: #16a34a;
  //   color: #fff;
  //   font-weight: 700;
  // }

  .summary-strip {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #143d82;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .summary-strip div {
    text-align: center;
    padding: 14px 8px;
  }

  .summary-strip span {
    display: block;
    color: #a9c4ff;
    font-size: 10px;
  }

  .summary-strip strong {
    color: #fff;
    font-size: 13px;
  }

  .ticket-card {
    background: #fff;
    border-radius: 22px;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #dfe7f3;
  }

  // .ticket-top {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-bottom: 14px;
  // }

  // .ticket-id {
  //   background: #eef3ff;
  //   color: #2563eb;
  //   padding: 5px 10px;
  //   border-radius: 50px;
  //   font-size: 12px;
  // }

  span.ticket-id {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #eff6ff;
    color: #2563eb;
    font-size: 12px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid #bfdbfe;
  }

  .card-header-row {
    display: flex;
    justify-content: space-between;
  }

  .pnr-number {
    margin: 0;
    font-size: 22px;
    font-weight: 800;
    color: #0f2d5c;
    line-height: 1;
  }

  .ticket-id {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eff6ff;
    color: #2563eb;
    font-size: 12px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bfdbfe;
    flex-shrink: 0;
  }

  // .amount {
  //   background: #d9f6df;
  //   color: #15803d;
  //   padding: 8px 15px;
  //   border-radius: 50px;
  //   font-weight: 700;
  // }

  // .ticket-card h3 {
  //   margin: 0;
  //   font-size: 30px;
  //   font-weight: 700;
  //   color: #10284f;
  // }

  .agent-name {
    margin-top: 10px;
    font-weight: 700;
    color: #10284f;
  }

  .route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .arrow {
    width: 30px;
    height: 30px;
    background: #f4e2a3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
  }

  .details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 15px;

    border-top: 1px dashed #d6dce7;
    padding-top: 15px;
  }

  .details-grid label {
    display: block;
    color: #94a3b8;
    font-size: 12px;
    margin-bottom: 4px;
  }

  .details-grid strong {
    display: block;
    color: #10284f;
    font-size: 15px;
    font-weight: 700;
  }

  .text-right {
    text-align: right;
  }

  .fare-amount {
    color: #8b0b0b !important;
    font-size: 18px;
    font-weight: 800;
  }

  .refund-amount {
    color: #16a34a !important;
    font-size: 18px;
    font-weight: 800;
  }

  .showing {
    text-align: center;
    margin: 20px 0 12px;
    color: #64748b;
  }

  .mobile-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .mobile-pagination button {
    min-width: 42px;
    height: 42px;
    border: none;
    border-radius: 12px;
    background: #fff;
    color: #2563eb;
    font-weight: 600;
  }

  .mobile-pagination button.active {
    background: #123d82;
    color: #fff;
  }

  .date-row {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 14px;
  }

  .date-row .mobile-input {
    flex: 1;
    min-width: 0;
    margin-bottom: 0;
  }

  .mobile-input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #dbe3ef;
    border-radius: 14px;
    padding: 0 12px;
    background: #fff;
  }

  .filter-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 18px;
  }

  .btn-refresh {
    height: 50px;
    border: none;
    border-radius: 14px;
    background: #ff3b4d;
    color: #fff;
    font-weight: 700;
  }

  .btn-search {
    height: 50px;
    border: none;
    border-radius: 14px;
    background: #16a34a;
    color: #fff;
    font-weight: 700;
  }

}

.mobile-label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #6c757d;
}

.date-field {
  flex: 1;
}

.date-row {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.date-type-field {
  margin-bottom: 12px;
}

.mobile-field {
  margin-bottom: 12px;
}

.mobile-label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #6c757d;
}

.ticket-divider {
  border-top: 1px dashed #d6dce7;
  margin: 12px 0;
}

.show-more-btn {
  text-align: center;
  color: #123d82;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 0;
}

.expandable-section {
  animation: slideDown .25s ease;
}

.amount-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}