<div class="change-password-overlay">

    <div class="change-password-modal">

        <!-- Header -->
        <div class="change-password-header">

            <div class="change-password-header-left">

                <!-- <div class="change-password-icon">
                    <i class="fa fa-lock"></i>
                </div> -->

                <div>
                    <h2>First-Time Password Change</h2>

                    <p>
                        Please create a new password to secure your account
                    </p>
                </div>

            </div>

            <!-- <button type="button" class="change-password-close" (click)="closePasswordModal()">

                <i class="fa fa-times"></i>

            </button> -->

        </div>


        <!-- Body -->
        <div class="change-password-body">

            <div class="change-password-form">

                <!-- New Password -->
                <div class="password-form-group">

                    <label>
                        New Password
                        <span>*</span>
                    </label>

                    <div class="password-input">

                        <i class="fa fa-lock password-left-icon"></i>

                        <input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword"
                            placeholder="Enter new password" autocomplete="new-password">

                        <button type="button" class="password-eye" (click)="showNewPassword = !showNewPassword">

                            <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'">
                            </i>

                        </button>

                    </div>

                </div>


                <!-- Confirm Password -->
                <div class="password-form-group">

                    <label>
                        Confirm Password
                        <span>*</span>
                    </label>

                    <div class="password-input" [class.password-error]="
                            confirmPassword &&
                            newPassword !== confirmPassword
                        ">

                        <i class="fa fa-lock password-left-icon"></i>

                        <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword"
                            placeholder="Re-enter new password" autocomplete="new-password">

                        <button type="button" class="password-eye" (click)="showConfirmPassword = !showConfirmPassword">

                            <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'">
                            </i>

                        </button>

                    </div>

                    <div class="password-match-error" *ngIf="
                            confirmPassword &&
                            newPassword !== confirmPassword
                        ">

                        <i class="fa fa-exclamation-circle"></i>

                        Passwords do not match.

                    </div>

                </div>

            </div>

        </div>


        <!-- Footer -->
        <div class="change-password-footer">

            <!-- <button type="button" class="password-cancel-btn" (click)="closePasswordModal()">

                Cancel

            </button> -->

            <button type="button" class="password-submit-btn" [disabled]="
                    !newPassword ||
                    !confirmPassword ||
                    newPassword !== confirmPassword
                " (click)="changePassword()">

                <i class="fa fa-check"></i>

                Change Password

            </button>

        </div>

    </div>

</div>